In [1]:
# Import necessary libraries for data manipulation, machine learning, and interface building
import pandas as pd
import numpy as np
import os
from datetime import datetime
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.decomposition import PCA
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV, KFold
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
import warnings
import pickle
import gradio as gr

# Ignore warnings to keep the output clean
warnings.filterwarnings('ignore')

c:\Users\Varun\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
df = pd.read_excel('../data/satisfaction_2015.xlsx')
df.to_csv('../data/direct.csv', index=False)

In [4]:
df = pd.read_csv('../data/direct.csv')

In [5]:
df.columns = df.columns.str.replace(' ', '_').str.upper()

df.rename(columns={'SATISFACTION_V2': 'SATISFACTION'}, inplace=True)

columns = list(df.columns)
columns.remove('SATISFACTION')
columns.append('SATISFACTION')
df = df[columns]

In [6]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values in '{column}': {unique_values}\n")

# Update 'CUSTOMER_TYPE'
df['CUSTOMER_TYPE'] = df['CUSTOMER_TYPE'].replace({
    'disloyal Customer': 'Disloyal',
    'Loyal Customer': 'Loyal'
})

# Update 'TYPE_OF_TRAVEL'
df['TYPE_OF_TRAVEL'] = df['TYPE_OF_TRAVEL'].replace({
    'Personal Travel': 'Personal',
    'Business travel': 'Business'
})

# Update 'SATISFACTION'
df['SATISFACTION'] = df['SATISFACTION'].replace({
    'satisfied': 'Satisfied',
    'neutral or dissatisfied': 'Neutral or Dissatisfied'
})

Unique values in 'ID': [117135  72091  29663 ...  50316  22333  10198]

Unique values in 'GENDER': ['Male' 'Female']

Unique values in 'CUSTOMER_TYPE': ['disloyal Customer' 'Loyal Customer']

Unique values in 'AGE': [56 49 55 36 15 51 26 37 65 18 22 40 14 45 53 35 57 25 10 60 17 68 28 47
 52 34 13 50 64 39 70  8 32 21 67 62 69 63 12 59 27 20 61 30 66 46 54 38
 11  7 24 33  9 23 31 58 19 42 16 29 43 48 44 41 72 71 80 77 85 78 75 79
 74 73 76]

Unique values in 'TYPE_OF_TRAVEL': ['Personal Travel' 'Business travel']

Unique values in 'CLASS': ['Eco' 'Business' 'Eco Plus']

Unique values in 'FLIGHT_DISTANCE': [ 369 2486 1448 ...  681 3763 3564]

Unique values in 'INFLIGHT_WIFI_SERVICE': [0 1 2 3 4 5]

Unique values in 'DEPARTURE/ARRIVAL_TIME_CONVENIENT': [2 3 4 5 0 1]

Unique values in 'EASE_OF_ONLINE_BOOKING': [0 1 3 2 5 4]

Unique values in 'GATE_LOCATION': [4 3 2 5 1 0]

Unique values in 'FOOD_AND_DRINK': [3 2 4 1 5 0]

Unique values in 'ONLINE_BOARDING': [0 1 5 3 2 4]

Unique values in 'SEAT_COMFORT': [3 4 1 2 5 0]

Unique values in 'INFLIGHT_ENTERTAINMENT': [3 2 4 1 5 0]

Unique values in 'ON-BOARD_SERVICE': [1 3 5 2 4 0]

Unique values in 'LEG_ROOM_SERVICE': [5 1 4 3 2 0]

Unique values in 'BAGGAGE_HANDLING': [3 4 5 2 1]

Unique values in 'CHECKIN_SERVICE': [3 4 2 5 1 0]

Unique values in 'INFLIGHT_SERVICE': [4 3 5 2 1 0]

Unique values in 'CLEANLINESS': [3 2 4 1 5 0]

Unique values in 'DEPARTURE_DELAY_IN_MINUTES': [   0   20    5   18   14   87   24    1   28    7    3   71    4   37
    2  174   13   11    8    6   15   32   29   50   57   16   31  155
  193   94   65    9   21  185   89   54   69   42   46   35   84   41
   27   39  310   17   30   47   40   34  427   10   19   90   12   68
   93   66   97  151   64  140   23   80  127  158   26   25   72  180
  143  106  178   70   77   60  129   61   38   33   45  244  122   95
  293   44  184  186  145  101  165   98   83  205   62   96  265   52
  201   22   43   67  315  103   58   53   48  231  179  159  108   36
  236  173  115  132   59   49   86  156  120   76  138   82   78   75
   92   51  177  154  232   73  119  110  105   85   74  161  102  162
   99  111  113  148   79  214  164  114  100  226  160  118  306   56
   63  128  124  104  167  209  282  181  116  157   91  219  117   55
  153  139  194  144  238  142  204  794  199   88   81  978  259  243
  136  168  130  313  377  150  218  112  125  202  626  247  137  133
  147  152  134  355  724  196  726  141  279  255  211  192  126  188
  217  166  195  286  163  170  210  135  146  252  176  191  189  240
  327  371  197  519  472  254  454  249  336  288  190  318  358  183
  187  365  314 1592  107  149  290  121  175  338  292  280  223  266
  692  123  270  235  253  131  206  400  172  198  215  328  248  267
  213  109  171  233  291  207  343  222  263  264  352  381  396  389
  579  446  496  423  228 1128  182  273  203  301  296  230  245  225
  570  302  274  208  362  308  229  426  234  220  376  258  294  277
  433  224  256  514  269  251  399  200  169  351  489  437  299  298
  414  448  372  323  246  364  590  332  212  319  241  221  289  271
  469  309  368  250  401  392  337  283  340  326  431  316  227  350
  402  216  459  491  384  447  411  419  383  503  276  295  569  366
  297  285  287  324  378  300  237  921  566  242  239  272  339  652
  312  262  345  331  333  382  499  360  330  359  348  430  275  257
  412  322  398  505  452  278  281  334  951  303  460  260  317  565
  394  357  268  853  729  307  756  748  344  815  388  373  537  370
  930  531  311  463  305  444  480  610  420  342  410  455  429  595
  347  284  438  346  416  530  304  435  933  407  353  404  624  391
 1017  329  363  859  559  450  581  341  415  600 1305  390  321  493
  750  501  465  320]

Unique values in 'ARRIVAL_DELAY_IN_MINUTES': [0.000e+00 2.200e+01 4.000e+00 1.300e+01 7.000e+00 5.000e+00 7.500e+01
 9.000e+00 5.400e+01 1.900e+01 1.200e+01 6.300e+01 1.000e+00 3.500e+01
 1.720e+02 8.000e+00 2.300e+01 4.900e+01 2.500e+01 5.200e+01 2.100e+01
 2.000e+00 1.630e+02 2.050e+02 8.900e+01 7.200e+01 3.000e+00 2.400e+01
 1.860e+02 8.400e+01 8.800e+01 5.100e+01 6.000e+01 2.700e+01 3.300e+01
 1.100e+01 5.300e+01 7.300e+01 4.100e+01 1.500e+01 3.700e+01 2.000e+01
 2.600e+01 6.000e+00 3.900e+01 4.600e+01       nan 3.050e+02 4.800e+01
 4.400e+02 4.500e+01 6.900e+01 1.000e+01 8.000e+01 8.600e+01 5.700e+01
 1.400e+01 9.600e+01 2.140e+02 5.000e+01 1.370e+02 1.800e+01 1.600e+01
 1.210e+02 1.700e+01 5.900e+01 7.600e+01 4.400e+01 1.310e+02 3.600e+01
 2.220e+02 3.200e+01 2.900e+01 2.800e+01 6.100e+01 1.750e+02 3.800e+01
 1.420e+02 9.000e+01 7.400e+01 1.180e+02 5.600e+01 1.190e+02 2.360e+02
 1.120e+02 6.500e+01 9.300e+01 3.020e+02 3.400e+01 1.240e+02 1.950e+02
 1.360e+02 9.700e+01 1.790e+02 1.060e+02 7.800e+01 1.040e+02 2.100e+02
 1.270e+02 8.700e+01 2.450e+02 4.200e+01 2.080e+02 4.000e+01 6.600e+01
 4.700e+01 2.970e+02 5.500e+01 1.020e+02 1.050e+02 2.500e+02 1.660e+02
 4.300e+01 1.380e+02 1.600e+02 1.070e+02 3.100e+01 7.700e+01 2.390e+02
 1.740e+02 3.000e+01 1.330e+02 6.700e+01 7.000e+01 1.680e+02 1.800e+02
 1.220e+02 8.300e+01 2.650e+02 7.100e+01 9.900e+01 9.800e+01 6.400e+01
 1.780e+02 1.460e+02 2.420e+02 5.800e+01 8.100e+01 9.100e+01 1.480e+02
 1.560e+02 6.200e+01 2.330e+02 1.520e+02 1.140e+02 1.170e+02 1.650e+02
 2.010e+02 1.770e+02 8.500e+01 1.620e+02 1.100e+02 1.550e+02 1.580e+02
 1.080e+02 1.640e+02 6.800e+01 2.210e+02 1.000e+02 1.230e+02 7.900e+01
 1.030e+02 2.990e+02 1.110e+02 1.500e+02 2.400e+02 1.260e+02 1.010e+02
 1.610e+02 2.130e+02 8.200e+01 1.350e+02 2.860e+02 9.500e+01 2.240e+02
 9.200e+01 1.430e+02 1.490e+02 1.850e+02 2.550e+02 2.410e+02 1.880e+02
 7.950e+02 1.960e+02 1.200e+02 9.700e+02 2.560e+02 1.710e+02 1.410e+02
 3.270e+02 3.680e+02 1.470e+02 9.400e+01 2.170e+02 1.090e+02 1.940e+02
 6.040e+02 1.300e+02 2.440e+02 1.130e+02 1.400e+02 2.300e+02 2.460e+02
 1.250e+02 1.690e+02 3.420e+02 1.290e+02 7.050e+02 6.910e+02 1.280e+02
 2.520e+02 2.580e+02 2.250e+02 2.930e+02 1.840e+02 1.530e+02 1.570e+02
 1.920e+02 1.700e+02 1.160e+02 2.900e+02 1.150e+02 2.270e+02 2.530e+02
 1.980e+02 2.190e+02 1.440e+02 2.320e+02 3.130e+02 3.720e+02 1.930e+02
 1.320e+02 5.160e+02 4.460e+02 1.340e+02 1.900e+02 4.540e+02 4.060e+02
 1.830e+02 2.790e+02 1.820e+02 3.170e+02 2.880e+02 3.060e+02 3.540e+02
 1.730e+02 1.910e+02 3.830e+02 3.520e+02 1.584e+03 2.160e+02 2.760e+02
 1.390e+02 3.330e+02 2.540e+02 1.510e+02 2.910e+02 3.550e+02 2.150e+02
 7.020e+02 2.600e+02 1.870e+02 1.810e+02 1.970e+02 2.430e+02 1.670e+02
 4.120e+02 1.540e+02 2.090e+02 1.990e+02 2.030e+02 2.200e+02 4.040e+02
 2.470e+02 2.700e+02 3.070e+02 1.890e+02 2.070e+02 1.450e+02 1.760e+02
 2.770e+02 4.580e+02 2.280e+02 3.380e+02 2.230e+02 2.610e+02 3.440e+02
 2.120e+02 1.590e+02 3.530e+02 4.030e+02 2.000e+02 3.780e+02 5.610e+02
 2.260e+02 4.310e+02 4.700e+02 4.000e+02 2.810e+02 1.115e+03 2.590e+02
 3.040e+02 3.010e+02 2.730e+02 2.350e+02 3.580e+02 2.040e+02 5.670e+02
 3.140e+02 2.620e+02 3.460e+02 3.250e+02 2.480e+02 3.560e+02 3.290e+02
 2.310e+02 4.270e+02 2.290e+02 2.060e+02 3.820e+02 2.830e+02 2.340e+02
 3.160e+02 4.550e+02 6.240e+02 2.640e+02 4.320e+02 3.690e+02 2.510e+02
 2.370e+02 4.910e+02 4.290e+02 3.120e+02 4.450e+02 2.890e+02 2.180e+02
 3.810e+02 6.080e+02 4.180e+02 3.370e+02 4.170e+02 3.570e+02 2.380e+02
 2.110e+02 2.750e+02 4.430e+02 4.070e+02 3.500e+02 4.350e+02 4.010e+02
 2.710e+02 3.300e+02 2.940e+02 2.670e+02 3.410e+02 3.110e+02 3.240e+02
 4.020e+02 2.020e+02 3.360e+02 3.990e+02 2.840e+02 2.950e+02 3.890e+02
 4.850e+02 2.740e+02 4.330e+02 4.250e+02 3.350e+02 4.600e+02 3.740e+02
 4.840e+02 2.630e+02 5.430e+02 3.470e+02 3.030e+02 2.850e+02 4.220e+02
 2.780e+02 3.910e+02 2.960e+02 2.920e+02 2.570e+02 3.260e+02 3.230e+02
 4.240e+02 9.240e+02 6.000e+02 3.190e+02 6.380e+02 3.920e+02 4.730e+02
 3.340e+02 3.490e+02 3.790e+02 3.000e+02 4.380e+02 3.220e+02 2.800e+02
 4.090e+02 4.590e+02 3.200e+02 3.770e+02 4.860e+02 2.720e+02 4.440e+02
 3.630e+02 2.870e+02 3.180e+02 2.690e+02 3.930e+02 9.400e+02 3.150e+02
 4.570e+02 4.200e+02 5.860e+02 3.450e+02 3.620e+02 4.100e+02 3.860e+02
 3.710e+02 8.230e+02 7.170e+02 7.480e+02 3.880e+02 7.200e+02 5.070e+02
 8.220e+02 3.800e+02 3.480e+02 5.240e+02 9.520e+02 2.680e+02 3.100e+02
 5.030e+02 3.080e+02 4.340e+02 4.710e+02 5.930e+02 2.820e+02 2.490e+02
 4.160e+02 3.640e+02 5.180e+02 5.020e+02 2.980e+02 3.310e+02 3.390e+02
 5.890e+02 3.590e+02 3.850e+02 4.360e+02 4.480e+02 3.510e+02 3.660e+02
 9.200e+02 3.700e+02 4.130e+02 6.150e+02 1.011e+03 3.950e+02 2.660e+02
 8.600e+02 3.970e+02 5.550e+02 3.210e+02 5.800e+02 3.090e+02 4.930e+02
 1.280e+03 3.600e+02 7.290e+02 5.000e+02]

Unique values in 'SATISFACTION': ['satisfied' 'neutral or dissatisfied']

In [7]:
df.columns

Index(['ID', 'GENDER', 'CUSTOMER_TYPE', 'AGE', 'TYPE_OF_TRAVEL', 'CLASS',
       'FLIGHT_DISTANCE', 'INFLIGHT_WIFI_SERVICE',
       'DEPARTURE/ARRIVAL_TIME_CONVENIENT', 'EASE_OF_ONLINE_BOOKING',
       'GATE_LOCATION', 'FOOD_AND_DRINK', 'ONLINE_BOARDING', 'SEAT_COMFORT',
       'INFLIGHT_ENTERTAINMENT', 'ON-BOARD_SERVICE', 'LEG_ROOM_SERVICE',
       'BAGGAGE_HANDLING', 'CHECKIN_SERVICE', 'INFLIGHT_SERVICE',
       'CLEANLINESS', 'DEPARTURE_DELAY_IN_MINUTES', 'ARRIVAL_DELAY_IN_MINUTES',
       'SATISFACTION'],
      dtype='object')

In [8]:
df.head()

,ID,GENDER,CUSTOMER_TYPE,AGE,TYPE_OF_TRAVEL,CLASS,FLIGHT_DISTANCE,INFLIGHT_WIFI_SERVICE,DEPARTURE/ARRIVAL_TIME_CONVENIENT,EASE_OF_ONLINE_BOOKING,...,INFLIGHT_ENTERTAINMENT,ON-BOARD_SERVICE,LEG_ROOM_SERVICE,BAGGAGE_HANDLING,CHECKIN_SERVICE,INFLIGHT_SERVICE,CLEANLINESS,DEPARTURE_DELAY_IN_MINUTES,ARRIVAL_DELAY_IN_MINUTES,SATISFACTION
0,117135,Male,Disloyal,56,Personal,Eco,369,0,2,0,...,3,1,5,3,3,4,3,0,0.0,Satisfied
1,72091,Male,Disloyal,49,Personal,Eco,2486,0,2,1,...,2,1,1,4,4,3,2,0,0.0,Satisfied
2,29663,Male,Disloyal,55,Personal,Eco,1448,0,3,0,...,3,3,5,3,2,3,3,0,0.0,Satisfied
3,81849,Female,Disloyal,36,Personal,Eco,1501,0,4,0,...,4,5,4,5,5,5,4,0,0.0,Satisfied
4,83693,Male,Disloyal,55,Personal,Eco,577,0,5,0,...,3,3,4,5,3,4,3,0,0.0,Satisfied

In [9]:
df.isnull().sum()

ID                                     0
GENDER                                 0
CUSTOMER_TYPE                          0
AGE                                    0
TYPE_OF_TRAVEL                         0
CLASS                                  0
FLIGHT_DISTANCE                        0
INFLIGHT_WIFI_SERVICE                  0
DEPARTURE/ARRIVAL_TIME_CONVENIENT      0
EASE_OF_ONLINE_BOOKING                 0
GATE_LOCATION                          0
FOOD_AND_DRINK                         0
ONLINE_BOARDING                        0
SEAT_COMFORT                           0
INFLIGHT_ENTERTAINMENT                 0
ON-BOARD_SERVICE                       0
LEG_ROOM_SERVICE                       0
BAGGAGE_HANDLING                       0
CHECKIN_SERVICE                        0
INFLIGHT_SERVICE                       0
CLEANLINESS                            0
DEPARTURE_DELAY_IN_MINUTES             0
ARRIVAL_DELAY_IN_MINUTES             393
SATISFACTION                           0
dtype: int64

In [12]:
df.to_csv('../data/raw.csv', index=False)